/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-basic), sans-serif;
  font-variation-settings: var(--font-weight-small);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  justify-items: center;
}

.button {
  display: flex;
  align-items: center;
  font-family: var(--font-family-decoration);
  font-size: var(--font-size-button);
  background-color: inherit;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button__text {
  border: var(--border-element);
  color: var(--bg-color, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  mix-blend-mode: difference;  
}

/* Стили для шапки страницы */

.header {
  padding-block-start: 6.25rem;
  padding-block-end: 6.25rem;
  min-inline-size: var(--inline-size-small);
  max-inline-size: var(--inline-size-large);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-block-size: clamp(18.167rem, 0rem + 100vh, 20.444rem);
  font-family: var(--font-family-decoration), sans-serif;
  border: var(--border-element);
  background-color: var(--bg-color);;
}

.header__title {
  font-weight: 400;
  font-size: var(--font-logo-title);
}

.header__text {
  text-transform: uppercase;
  font-size: var(--font-logo-text);
}

/* Конец стилей шапки страницы */


/* Блок стилей для основного контента страницы */

.main {
  max-inline-size: var(--inline-size-large);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.memories-block {
  background-color: var(--bg-color);
  border: var(--border-element);
}

.memories-block__title {
  font-family: inherit;
  font-size: var(--font-size-title);
  padding-inline: 10px;
  padding-block: clamp(0.167rem, 0rem + 100vh, 0.278rem);
}

.memories-block__image {
  border: var(--border-element);
  border-left: none;
  border-right: none;
  position: relative;
  display: flex;
  max-block-size: clamp(23.438rem, 0rem + 100vi, 43.5rem);
}

.memories-block__image-title {
  position: absolute;
  right: 11px;
  top: 25px;
  font-family: var(--font-family-decoration), sans-serif;
  --font-size-text: 14px;
  --font-height-text: 14px;
  font-size: var(--font-size-text);
  line-height: var(--font-height-text);
  font-weight: var(--font-weight-small);
  mix-blend-mode: hard-light;
  background-blend-mode: hard-light;
  text-shadow: 1px 0 #fff, 0 1px #fff, -1px 0 #fff, 0 -1px #fff;
  opacity: 50%;
  z-index: 1;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .memories-block__image-title {
    -webkit-text-stroke: 1px #fff;
    text-shadow: none;
  }
}

.memories-block__image-pictures {
  max-block-size: 100%;
  max-inline-size: 100%;
  object-fit: cover;
}

.memories-block__text {
  padding-inline: 25px;
  padding-block: 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-family: inherit;
  font-size: var(--font-size-text);
}

.memories-block__button {
  padding-block-end: 22px;
  padding-inline-end: 25px;
  display: flex;
  justify-content: flex-end;
}

.memories-block__icon-button {
  display: flex;
  align-items: center;
  background-color: inherit;
}

.like-icon-button {
  border: none;
  background-color: inherit;
  transform-origin: 0 0;
}

.like-icon {
  cursor: pointer;
}

.memories-block__like-button {
  min-inline-size: clamp(8rem, 0rem + 100vw, 8.125rem);
  min-block-size: clamp(2.313rem, 0rem + 100vh, 2.375rem);
  justify-content: center;
}

/* Конец блока стилей с основным контентом */


/* Блок для стилей подвала страницы */

.footer{
  display: grid;
  padding-block-start: clamp(3.25rem, 0rem + 100vh, 3.125rem);
  padding-block-end: clamp(6.25rem, 0rem + 100vh, 6.438rem);
  min-inline-size: var(--inline-size-small);
  max-inline-size: var(--inline-size-large);
}

.footer-button {
  min-inline-size: clamp(19.063rem, 0rem + 100vw, 19.188rem);
  min-block-size: clamp(5.25rem, 0rem + 100vh, 5.313rem);
  background-color: var(--bg-color);
  border: var(--border-element);
  gap: 8px;
  justify-self: center;
  justify-content: center;
  flex-direction: column;
  padding-block: 0px;
  z-index: 1;
}

.footer-button .button__text {
  border: none;
}

.floppy {
  fill: #000;
}

.button-floppy {
  width: 28px;
  height: 28px;
  fill: var(--bg-color, #fff);
  mix-blend-mode: difference;
}

/* Конец стилей подвала страницы */


/* Блок стилей для всплывающего окна */

.dialog[open] {
  display: flex;
  flex-direction: column;
  justify-self: center;
  top: calc(50% - 102px);
  border: var(--border-element);
  font-size: var(--font-size-button);
  min-inline-size: clamp(20.938rem, 0rem + 100vw, 21.313rem);
  max-inline-size: clamp(15.063rem, 0rem + 100vw, 15.813rem);
  min-block-size: clamp(11.563rem, 0rem + 100vh, 11.938rem);
  padding-inline: clamp(2.438rem, 0rem + 100vw, 2.5rem);
  padding-block: clamp(1.75rem, 0rem + 100vh, 1.875rem);
  font-family: var(--font-family-decoration, sans-serif);
  gap: 30px;
  overflow: hidden;
}

.dialog-messege {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  max-inline-size: clamp(16.063rem, 0rem + 100vw, 18.313rem);
}

.dialog-floppy {
  width: 39px;
  height: 39px;
  align-self: center;
}

.dialog .button__text {
  line-height: var(--font-height-text);
}

.dialog-button {
  border: var(--border-element);
  text-transform: uppercase;
  min-inline-size: 100%;
  min-block-size: clamp(2.313rem, 0rem + 100vh, 2.375rem);
  justify-content: center;
}

.dialog-text {
  text-transform: uppercase;
  line-height: var(--font-height-text);
}

.dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 75%);
}

body:has(.dialog[open]) {
  overflow: hidden;
}

/* Конец блока стилей для всплывающего окна */


/* Стили для адаптации страницы к большему размеру экрана */

@media (width > 1200px) {
  .header__logo {
    min-block-size: clamp(22.813rem, -46rem + 300vh, 23rem);
  }
  .header__title {
    font-weight: 400;
    --font-logo-title: clamp(3.75rem, 0rem + 100vw, 4.063rem)
  }
  .header__text {
    --font-logo-text: clamp(1.375rem, 0rem + 100vw, 1.438rem);
  }
  .memories-block__image {
    max-block-size: clamp(43.625rem, 0rem + 100vh, 43.75rem);
  }
  .memories-block__image-title {
    right: 25px;
  }
  .footer-button {
    min-inline-size: clamp(20.313rem, 0rem + 100vw, 20.938rem);
    min-block-size: clamp(3.25rem, 0rem + 100vh, 3.438rem);
    flex-direction: row;
    padding-block-start: 0;
    gap: 8px;
    justify-content: center;
  }
  .button-floppy {
    width: 21px;
    height: 21px;
  }
  .dialog {
    max-inline-size: clamp(22.063rem, 0rem + 100vw, 22.188rem);
    padding-inline: clamp(1.75rem, 0rem + 100vw, 1.875rem);
  }
  .dialog-messege {
    max-inline-size: clamp(18.125rem, 0rem + 100vw, 18.313rem);
  }
}

/* Конец стилей для адаптации страницы */


/* Блок стилей для визуальных эфектов */

.filter-saturate {
  filter: saturate(30%);
}

.filter-multi {
  filter: opacity(0.9) contrast(200%) saturate(2);
}

.filter-gray {
  filter: grayscale(10%) brightness(0.9);
}

.filter-invert {
  filter: invert(90%);
}

.filter-sepia {
  filter: sepia(0.9);
}

.filter-blur {
  filter: blur(5px);
}

.filter-rotete {
  filter: hue-rotate(0.2turn) opacity(75%);
}

.footer-button:focus,
.dialog-button:focus,
.memories-block__like-button:focus {
  outline: none;
}

.footer-button:focus-visible,
.dialog-button:focus-visible,
.memories-block__like-button:focus-visible {
  box-shadow: 2px 2px #000;
  transition: box-shadow 0.3s;
}

.button::before {
  content: "";
  background-color: #000;
  inline-size: 100%;
  block-size: 100%;
  position: absolute;
  left: -100%;
}

.button:hover::before {
  transform: scaleX(5);
  transition: transform 0.5s ease-in-out;
}

.like-icon-button:focus {
  outline: none;
}

.like-icon-button:focus-visible {
  outline: var(--border-element);
  outline-offset: -4px;
  transition: outline 0.3s;
}

#sparks {
  opacity: 0;
}

.like-icon #core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon #main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover #core {
  fill: var(--fill-contur-color);
  transition: fill 0.3s linear;
}

.like-icon:hover #main-body {
  fill: var(--fill-contur-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active #core {
  fill: var(--fill-filling-color);
  transition: fill 0.3s linear;
}

.like-icon:active #main-body {
  fill: var(--fill-filling-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked #core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked #core {
  fill: var(--fill-filling-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked #main-body {
  transition: fill 0.3s linear;
}

.like-icon.is-liked #main-body {
  fill: var(--fill-filling-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked #contour {
  transition: fill 0.3s linear;
}

.like-icon.is-liked #contour {
  fill: var(--fill-filling-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked #heart {
  animation: move-button-icon 0.3s 0.1s ease-in;
}

.like-icon.is-liked #sparks {
  animation: sparks-button-icon 0.3s 0.3s ease-in;
}

/* Конец блока визуальных эфектов */