/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --bg-image:
      repeating-linear-gradient(90deg, #d3d3d3ff, #d3d3d3ff 2px, #d3d3d300 2px, #d3d3d300 4px),
      repeating-linear-gradient(0deg,#d3d3d3ff,  #d3d3d3ff 2px, #d3d3d300 2px, #d3d3d300  4px),
      repeating-linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
    --bg-color: #fff;
    --fill-contur-color: #000;
    --fill-filling-color: #F00;
    --inline-size-small: clamp(22.813rem, 0.817rem + 93.846vw, 41.875rem);
    --inline-size-large: clamp(43.5rem, 0rem + 100vw, 43.75rem);
    --font-family-basic: 'Inter', sans-serif;
    --font-family-decoration: 'PressStart2P', sans-serif;
    --font-logo-title: clamp(3.063rem, 188.563rem + -800vh, 4.063rem);
    --font-logo-text: clamp(0.875rem, 105.219rem + -450vh, 1.438rem);
    --font-weight-big: 700;
    --font-weight-small: 400;
    --font-size-title: 18px;
    --font-size-text: 18px;
    --font-size-button: 14px;
    --font-height-title: 21.78px;
    --font-height-text: 21px;
    --page-weighe-size: 100%;
    --border-element: 2px solid #000;
}